* {
  margin: 0;
  padding: 0;
}

.dark-element {
  background-color: hsl(209, 23%, 22%);
}

.dark-bg {
  background-color: hsl(207, 26%, 17%);
}

.light-text {
  color: hsl(200, 15%, 8%);
}

.light-bg {
  background-color: hsl(0, 0%, 98%);
}

.dark-text {
  color: hsl(0, 0%, 100%);
}

.light-element {
  background-color: hsl(0, 0%, 100%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 2em;
  margin-bottom: 2em;
}

.countries-container {
  width: 80%;
}

@media screen and (max-width: 800px) {
  .inputs-container {
    flex-direction: column;
  }
}
