* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans';
}

.dark-element {
  background-color: hsl(209, 23%, 22%);
}

.dark-bg {
  background-color: hsl(207, 26%, 17%);
}

.light-text {
  color: hsl(200, 15%, 8%);
}

.light-bg {
  background-color: hsl(0, 0%, 98%);
}

.dark-text {
  color: hsl(0, 0%, 100%);
}

.light-element {
  background-color: hsl(0, 0%, 100%);
}

.inputs-container {
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .inputs-container {
    flex-direction: column;
    padding: 0 20px;
  }
}
